<div *transloco="let t" class="measurement-data-type-selection">
  <mat-button-toggle-group
    class="measurement-data-type-selection__toggle-group"
    [attr.aria-label]="t('form.measurement-data-type.aria-label')"
    (change)="setSelectedMeasurementDataType($event.value)"
    [value]="selectedMeasurementDataType$ | async"
    hideSingleSelectionIndicator="true"
  >
    @for (measurementDataType of allMeasurementDataTypes; track measurementDataType.dataType) {
      <mat-button-toggle [value]="measurementDataType.dataType">{{ t(measurementDataType.label) }}</mat-button-toggle>
    }
  </mat-button-toggle-group>

  <div class="measurement-data-type-selection__description">
    @if (selectedMeasurementDataType$ | async; as measurementDataType) {
      @switch (measurementDataType) {
        @case ('normal') {
          <span>{{ t('form.measurement-data-type.normal.explanation') }}</span>
          <app-external-link
            class="measurement-data-type-selection__description__link"
            [href]="t('form.measurement-data-type.normal.info-url')"
            [text]="t('form.measurement-data-type.more-info-link')"
          >
          </app-external-link>
        }
        @case ('homogenous') {
          <span>{{ t('form.measurement-data-type.homogenous.explanation') }}</span>
          <app-external-link
            class="measurement-data-type-selection__description__link"
            [href]="t('form.measurement-data-type.homogenous.info-url')"
            [text]="t('form.measurement-data-type.more-info-link')"
          >
          </app-external-link>
        }
      }
    }
  </div>
</div>
