@use '@angular/material' as mat;
@use 'design-variables' as variables;

.measurement-data-type-selection {
  &__toggle-group {
    box-shadow: var(--mat-sys-level5);
    @include mat.button-toggle-overrides(
      (
        shape: 0,
        divider-color: transparent,
        background-color: var(--mat-sys-primary-container),
        selected-state-background-color: var(--mat-sys-inverse-primary),
        selected-state-text-color: variables.$white,
        text-color: variables.$white,
        label-text-weight: normal,
        label-text-size: 18px,
      )
    );

    mat-button-toggle {
      padding: 10px;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
    background-color: var(--mat-sys-inverse-primary);
    padding: 20px;
    box-sizing: border-box;
    font-size: 16px;

    &__link {
      margin-top: 10px;
    }
  }
}
