<div *transloco="let t">
  @for (dataInterval of allDataIntervals; track dataInterval.interval) {
    <div>
      <input
        type="radio"
        name="interval"
        id="{{ dataInterval.interval }}-interval"
        [checked]="(selectedDataInterval$ | async) === dataInterval.interval"
        [disabled]="!(availableDataIntervals$ | async | includes: dataInterval.interval)"
        (input)="setSelectedInterval(dataInterval.interval)"
      />
      <label for="{{ dataInterval.interval }}-interval">{{ t(dataInterval.label) }}</label>
    </div>
  }
</div>
