.station-selection-step {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;

  .station-parameter-selection {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;

    &__selection {
      width: 356px;
    }
  }
}
