<div class="station-selection-step">
  <div class="station-parameter-selection">
    <app-parameter-group-selection class="station-parameter-selection__selection"></app-parameter-group-selection>
    <app-station-selection class="station-parameter-selection__selection"></app-station-selection>
  </div>
  <div class="station-selection-step__map">
    <app-map-container class="station-selection-step__map__container"></app-map-container>
  </div>
  <app-collection-selection></app-collection-selection>
</div>
