@use '@angular/material' as mat;
@use 'design-variables' as variables;

.collection-selection {
  &__stations-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    button.collection-selection__stations-list__station {
      text-align: left;
      border: none;
      font: inherit;
      outline: inherit;
    }

    &__station {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 371px;
      color: var(--mat-sys-on-surface);
      background-color: variables.$accent-grey;
      padding: 20px;

      &__radio-button {
        @include mat.radio-overrides(
          (
            selected-icon-color: var(--mat-sys-on-surface),
            unselected-icon-color: var(--mat-sys-on-surface),
            label-text-color: var(--mat-sys-on-surface),
            label-text-size: 18px,
          )
        );
      }
    }
  }
}
