<div class="parameter-group-selection" *transloco="let t">
  <mat-form-field class="parameter-group-selection__form">
    <input
      #input
      type="text"
      [placeholder]="t('parameter-group.search.placeholder')"
      [attr.aria-label]="t('parameter-group.name')"
      matInput
      [formControl]="formControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayValueObjectName">
      @for (parameterGroup of filteredValueObjects$ | async; track parameterGroup.id) {
        <mat-option class="parameter-group-selection__form__option" [value]="parameterGroup">
          <mat-icon class="parameter-group-selection__form__icon" [svgIcon]="parameterGroup.id | iconFromConfig"></mat-icon>
          <span>{{ parameterGroup.displayName }}</span>
        </mat-option>
      }
    </mat-autocomplete>
    <button
      mat-icon-button
      matSuffix
      (click)="clearInput()"
      [disabled]="input.value.length === 0"
      [attr.aria-label]="t('form.autocomplete.clear')"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
