@use 'material-mixins' as mat-mixins;
@use '@angular/material' as mat;

.parameter-group-selection {
  min-width: 150px;
  max-width: 500px;
  width: 100%;

  &__form {
    width: 100%;
    @include mat.form-field-overrides(
      (
        filled-container-shape: 0,
        filled-container-color: var(--mat-sys-primary-container),
        filled-active-indicator-height: 0,
      )
    );

    &__icon {
      @include mat-mixins.mat-icon-override-size(48px);
    }
  }
}
