<div class="data-selection-form" *transloco="let t">
  <mat-button-toggle-group
    class="measurement-data-type-toggle-group"
    [attr.aria-label]="t('form.measurement-data-type.aria-label')"
    (change)="setSelectedMeasurementDataType($event.value); stepper.reset()"
    [value]="selectedMeasurementDataType$ | async"
    hideSingleSelectionIndicator="true"
  >
    <mat-button-toggle value="normal">{{ t('form.measurement-data-type.normal') }}</mat-button-toggle>
    <mat-button-toggle value="homogenous">{{ t('form.measurement-data-type.homogenous') }}</mat-button-toggle>
  </mat-button-toggle-group>

  <mat-vertical-stepper class="data-selection-form__stepper" [linear]="true" #stepper>
    <mat-step [completed]="(selectedCollection$ | async) !== null">
      <ng-template matStepLabel>{{ t('form.stepper.station.label') }}</ng-template>
      <app-station-selection-step></app-station-selection-step>
      <div>
        <button mat-button matStepperNext type="button" [disabled]="(selectedCollection$ | async) === null">
          {{ t('form.stepper.next') }}
        </button>
      </div>
    </mat-step>
    <mat-step [completed]="(selectedSelectedDataInterval$ | async) !== null">
      <ng-template matStepLabel>{{ t('form.stepper.interval.label') }}</ng-template>
      <app-interval-selection></app-interval-selection>
      <div>
        <button mat-button matStepperPrevious type="button">{{ t('form.stepper.back') }}</button>
        <button mat-button matStepperNext type="button" [disabled]="(selectedSelectedDataInterval$ | async) === null">
          {{ t('form.stepper.next') }}
        </button>
      </div>
    </mat-step>
    <mat-step [completed]="(selectedSelectedTimeRange$ | async) !== null">
      <ng-template matStepLabel>{{ t('form.stepper.time-range.label') }}</ng-template>
      <app-time-range-selection></app-time-range-selection>
      <div>
        <button mat-button matStepperPrevious type="button">{{ t('form.stepper.back') }}</button>
        <button mat-button matStepperNext type="button" [disabled]="(selectedSelectedTimeRange$ | async) === null">
          {{ t('form.stepper.next') }}
        </button>
      </div>
    </mat-step>
    <mat-step [completed]="(selectedSelectedTimeRange$ | async) !== null">
      <ng-template matStepLabel>{{ t('form.stepper.selection-review.label') }}</ng-template>
      <app-selection-review></app-selection-review>
      <div>
        <button mat-button matStepperPrevious type="button">{{ t('form.stepper.back') }}</button>
        <button mat-button matStepperNext type="button">{{ t('form.stepper.next') }}</button>
      </div>
    </mat-step>
    <mat-step [completed]="(selectedSelectedTimeRange$ | async) !== null">
      <ng-template matStepLabel>{{ t('form.stepper.download.label') }}</ng-template>
      <app-download-asset> </app-download-asset>
    </mat-step>
  </mat-vertical-stepper>
</div>
