@use 'material-mixins' as mat-mixins;
@use 'design-variables' as variables;

.data-selection-form {
  width: 100%;

  &__stepper {
    background-color: variables.$background-color;
    color: variables.$white;

    &__tooltip-icon {
      @include mat-mixins.mat-icon-override-size(0.75rem);
    }
  }
}
