@use '@angular/material' as mat;

a {
  color: var(--mat-sys-on-surface);
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

:root {
  @include mat.tooltip-overrides(
    (
      container-color: var(--mat-sys-inverse-primary),
      supporting-text-color: var(--mat-sys-on-surface),
      container-shape: 0,
    )
  );
}

mat-tooltip-component .mat-mdc-tooltip-surface {
  padding: 15px;
  max-width: 500px;
}
