@use 'material-mixins' as mat-mixins;
@use '@angular/material' as mat;

.time-range-selection {
  display: flex;
  flex-direction: column;
  gap: 3px;

  & > * {
    height: 48px;
    display: flex;
  }

  &__selection {
    width: fit-content;

    &__content {
      display: flex;
      flex-direction: column;

      &__label {
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;

        &__tooltip-icon {
          @include mat-mixins.mat-icon-override-size(24px);
        }
      }
    }
  }

  &__historical-explanation {
    align-items: flex-end;
    p {
      margin: 0;
    }
  }
}
