<mat-radio-group
  class="time-range-selection"
  *transloco="let t"
  [attr.aria-label]="t('form.time-range.label')"
  [value]="selectedTimeRange$ | async"
  (change)="setSelectedTimeRange($event.value)"
>
  @let availableTimeRanges = availableTimeRanges$ | async;
  @let isNowInAvailableTimeRanges = availableTimeRanges | includes: 'now';
  <div
    class="time-range-selection__selection"
    [matTooltip]="t('form.selection-not-available')"
    [matTooltipDisabled]="isNowInAvailableTimeRanges"
  >
    <mat-radio-button value="now" [disabled]="!isNowInAvailableTimeRanges" [aria-label]="t('form.time-range.now')">
      {{ t('form.time-range.now') }}
      <br />
      <small>{{ t('form.time-range.now.explanation') }}</small>
    </mat-radio-button>
  </div>

  @let isRecentInAvailableTimeRanges = availableTimeRanges | includes: 'recent';
  <div
    class="time-range-selection__selection"
    [matTooltip]="t('form.selection-not-available')"
    [matTooltipDisabled]="isRecentInAvailableTimeRanges"
  >
    <mat-radio-button value="recent" [disabled]="!isRecentInAvailableTimeRanges" [aria-label]="t('form.time-range.recent')">
      <div class="time-range-selection__selection__content">
        <div class="time-range-selection__selection__content__label">
          <span>{{ t('form.time-range.recent') }}</span>
          <mat-icon
            class="time-range-selection__selection__content__label__tooltip-icon"
            [matTooltip]="t('form.time-range.recent.tooltip')"
          >
            info_outline
          </mat-icon>
        </div>
        <small>{{ t('form.time-range.recent.explanation') }}</small>
      </div>
    </mat-radio-button>
  </div>

  @if ((historicalDateRanges$ | async)?.length === 0) {
    @let isHistoricalInAvailableTimeRanges = availableTimeRanges | includes: 'historical';
    <div
      class="time-range-selection__selection"
      [matTooltip]="t('form.selection-not-available')"
      [matTooltipDisabled]="isHistoricalInAvailableTimeRanges"
    >
      <mat-radio-button value="historical" [disabled]="!isHistoricalInAvailableTimeRanges">{{
        t('form.time-range.historical')
      }}</mat-radio-button>
    </div>
  } @else {
    <div class="time-range-selection__historical-explanation">
      <p>
        {{ t('form.time-range.historical') }}
      </p>
      <small>{{ t('form.time-range.historical.explanation') }}</small>
    </div>
    @for (range of historicalDateRanges$ | async; track $index) {
      <mat-radio-button [value]="range">{{ range.start | date: 'yyyy' }} - {{ range.end | date: 'yyyy' }}</mat-radio-button>
    }
  }
</mat-radio-group>
