<div *transloco="let t">
  <div>
    <input
      type="radio"
      name="time-range"
      id="now-time-range"
      (input)="setSelectedTimeRange('now')"
      [checked]="(selectedTimeRange$ | async) === 'now'"
    />
    <label for="now-time-range">{{ t('now-time-interval') }}</label>
  </div>
  <div>
    <input
      type="radio"
      name="time-range"
      id="recent-time-range"
      (input)="setSelectedTimeRange('recent')"
      [checked]="(selectedTimeRange$ | async) === 'recent'"
    />
    <label for="recent-time-range">{{ t('recent-time-interval') }}</label>
  </div>
  <div>
    <p>{{ t('historical-time-range-explanation') }}</p>
    <!-- TODO: Handle multiple historical intervals -->
    <div>
      <input
        type="radio"
        name="time-range"
        id="historical-time-range1"
        (input)="setSelectedTimeRange('historical')"
        [checked]="(selectedTimeRange$ | async) === 'historical'"
      />
      <label for="historical-time-range1">xx.yy.zzzz - aa.bb.cccc</label>
    </div>
    <div>
      <input
        type="radio"
        name="time-range"
        id="historical-time-range2"
        (input)="setSelectedTimeRange('historical')"
        [checked]="(selectedTimeRange$ | async) === 'historical'"
      />
      <label for="historical-time-range2">xx.yy.zzzz - aa.bb.cccc</label>
    </div>
  </div>
</div>
