@if (currentLanguage$ | async; as currentLanguage) {
  <div class="station-info" *transloco="let t">
    <p>{{ station().displayName }}</p>
    {{ station().elevation }} {{ t('form.station.elevation-unit') }}
    @if (station().url | translatableString: currentLanguage; as url) {
      <a class="station-info__link" [href]="url" rel="noopener noreferrer" target="_blank">
        {{ t('form.station.url-text') }}
      </a>
    }

    <span class="station-info__title">{{ t('form.collection-selection.parameter-groups') }}</span>
    <mat-list class="station-info__param-groups">
      @for (parameterGroup of station().parameterGroups; track parameterGroup.id) {
        <mat-list-item class="station-info__param-groups__item">
          <mat-icon matListItemIcon [svgIcon]="parameterGroup.id | iconFromConfig"></mat-icon>
          <div matListItemTitle>{{ parameterGroup.name | translatableString: currentLanguage }}</div>
        </mat-list-item>
      }
    </mat-list>
  </div>
}
