<div class="download-asset" *transloco="let t">
  @if (selectedAsset$ | async; as asset) {
    <div class="download-asset__section">
      <h4 class="download-asset__section__title">{{ t('form.download.data') }}</h4>
      <p>
        {{ t('form.download.terms') }}
        <app-external-link [href]="t('form.download.terms.link')" [text]="t('form.download.terms.link-name')"></app-external-link>
      </p>
      <div>
        <app-download-asset-link [asset]="asset" />
        <p class="download-asset__explanation">{{ t('form.download.data-explanation') }}</p>
      </div>
    </div>

    <div class="download-asset__section">
      <h4 class="download-asset__section__title">{{ t('form.download.metadata') }}</h4>
      @if (selectedMetaAsset$ | async; as metaAssets) {
        <div>
          <app-download-asset-link [asset]="metaAssets.parameter" />
          <p class="download-asset__explanation">{{ t('form.download.parameters-explanation') }}</p>
        </div>
        <br />
        <div>
          <app-download-asset-link [asset]="metaAssets.station" />
          <p class="download-asset__explanation">{{ t('form.download.stations-explanation') }}</p>
        </div>
        <div>
          <app-download-asset-link [asset]="metaAssets.dataInventory" />
          <p class="download-asset__explanation">{{ t('form.download.inventory-explanation') }}</p>
        </div>
      }
    </div>

    <div class="download-asset__section">
      <h4 class="download-asset__section__title">{{ t('form.download.copy-url') }}</h4>
      <div class="download-asset__section__copy-link">
        <mat-form-field appearance="fill" class="download-asset__section__copy-link__link-url">
          <input matInput type="text" [value]="asset.url" readonly />
        </mat-form-field>
        <button
          class="download-asset__section__copy-link__copy-button"
          mat-mini-fab
          [cdkCopyToClipboard]="asset.url"
          [matTooltip]="t('form.download.copy-url.tooltip')"
        >
          <mat-icon>content_copy</mat-icon>
        </button>
      </div>
      <app-external-link
        [href]="t('form.download.download-programmatically-info.url')"
        [text]="t('form.download.download-programmatically-info')"
      ></app-external-link>
    </div>
  }
</div>
