<div class="station-selection" *transloco="let t">
  @if (filteredDisplayItems$) {
    <mat-form-field class="station-selection__form">
      <input
        type="text"
        [placeholder]="t('station.search.placeholder')"
        [attr.aria-label]="t('station.name')"
        matInput
        [formControl]="formControl"
        [matAutocomplete]="auto"
        #input
      />
      <mat-autocomplete #auto="matAutocomplete" [hideSingleSelectionIndicator]="true" [displayWith]="getDisplayItemName">
        @for (station of filteredDisplayItems$ | async; track station.id) {
          <mat-option [value]="station">{{ station.displayName }}</mat-option>
        }
      </mat-autocomplete>
      <button
        mat-icon-button
        matSuffix
        (click)="clearInput()"
        [disabled]="input.value.length === 0"
        [attr.aria-label]="t('form.autocomplete.clear')"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  }
</div>
