@use '@angular/material' as mat;

.station-selection {
  min-width: 150px;
  max-width: 500px;
  width: 100%;

  &__form {
    width: 100%;
    @include mat.form-field-overrides(
      (
        filled-container-shape: 0,
        filled-container-color: var(--mat-sys-inverse-primary),
        filled-active-indicator-height: 0,
      )
    );
  }
}
