<div class="station-selection" *transloco="let t">
  @if (filteredValueObjects$) {
    <mat-form-field class="field">
      <input
        type="text"
        [placeholder]="t('station.search.placeholder')"
        [attr.aria-label]="t('station.name')"
        matInput
        [formControl]="formControl"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete" [hideSingleSelectionIndicator]="true" [displayWith]="displayValueObjectName">
        @for (station of filteredValueObjects$ | async; track station.id) {
          <mat-option [value]="station">{{ station.displayName }}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  }
</div>
