@if (currentLanguage$ | async; as currentLanguage) {
  <div *transloco="let t">
    @if (selectedStation$ | async; as station) {
      <div class="selection-review-row">
        <span class="selection-review-row__title">{{ t('form.selection-review.station-name') }}:</span> {{ station.displayName }}
      </div>
      <div class="selection-review-row">
        <span class="selection-review-row__title">{{ t('form.selection-review.station-type') }}:</span>
        {{ station.type | translatableString: currentLanguage }}
      </div>
      <div class="selection-review-row">
        <span class="selection-review-row__title">{{ t('form.selection-review.available-parameter-groups') }}:</span>
        {{ parameterGroupNamesOfSelectedStation$ | async }}
      </div>
      <div class="selection-review-row">
        <span class="selection-review-row__title">{{ t('form.selection-review.interval') }}:</span>
        @if (selectedDataInterval$ | async; as interval) {
          {{ t('form.interval.' + interval) }} ({{ t('form.selection-review.utc.prefix') }}
          <app-external-link [href]="t('form.selection-review.utc.url')" [text]="t('form.selection-review.utc')"></app-external-link>)
        }
      </div>
      <div class="selection-review-row">
        <span class="selection-review-row__title">{{ t('form.selection-review.time-range') }}:</span>
        @if (selectedTimeRange$ | async; as timeRange) {
          {{ t('form.time-range.' + timeRange) }}
          @if (selectedHistoricalDateRange$ | async; as range) {
            ({{ range.start | date: 'yyyy' }} - {{ range.end | date: 'yyyy' }})
          }
        }
      </div>
      <div class="selection-review-row">
        <span class="selection-review-row__title">{{ t('form.selection-review.file-format') }}:</span> CSV
      </div>
    }
  </div>
}
