@use 'opendata-explorer-theme' as theme;
@use 'design-variables' as variables;
@use '@angular/material' as mat;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: variables.$background-color;
  color: variables.$foreground-color;
}
html {
  @include mat.theme(
    (
      color: (
        primary: theme.$primary-palette,
        tertiary: theme.$tertiary-palette,
        theme-type: dark,
      ),
    )
  );
}
