@use 'opendata-explorer-theme' as theme;
@use 'design-variables' as variables;
@use '@angular/material' as mat;
@use 'overrides';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}
html {
  @include mat.theme(
    (
      color: (
        primary: theme.$primary-palette,
        tertiary: theme.$tertiary-palette,
        theme-type: dark,
      ),
    )
  );
  @include theme.custom-overrides();
}
