name: Deploy to Azure Static Web Apps

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
        description: 'The environment to deploy to'
    secrets:
      AZURE_STATIC_WEB_APPS_API_TOKEN:
        required: true

env:
  APP_LOCATION: '/' # location of your client code
  OUTPUT_LOCATION: 'dist/browser' # location of client code build output

jobs:
  build_and_deploy:
    name: Build and deploy productive artifact to ${{ inputs.environment }}
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build And Deploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: 'upload'
          app_location: ${{ env.APP_LOCATION }}
          output_location: ${{ env.OUTPUT_LOCATION }}
